// Colors
$beigeColor: #f0f1f3 !default;
$primaryColor: #603e85 !default;
$whiteColor: #fff !default;
$blackColor: #000 !default;
$redColor: #d50000 !default;

// Fonts
$fontAirbnb: 'Airbnb Cereal App', sans-serif !default;